{% extends "layout.html" %}

{% block content %}
  <h3>Atom - <code>{{ data["symbol"] }}</code> - {{ data["name"] }}</h3>
  <p>Characters:&nbsp;{% for char in data["symbol"] %} {% if loop.index != 1 %},&nbsp;{% endif %} {{ char | charlink }} {% endfor %}</p>
  <p>Tags:&nbsp;{% for tag in data["tags"] %} {% if loop.index != 1 %},&nbsp;{% endif %} {{ tag | taglink }} {% endfor %}</p>
  <h5>Arity: {{ ["niladic", "monadic", "dyadic"][data["arity"]] }}</h5>
  <p>
    {% if data["arity"] == 0 %}
      This atom is niladic, which means it takes no arguments.
    {% elif data["arity"] == 1 %}
      This atom is monadic, which means it takes one argument.
    {% elif data["arity"] == 2 %}
      This atom is dyadic, which means it takes two arguments.
    {% else %}
      This atom's arity was not set to 0, 1, or 2. Atoms can only have one of these arities, so please submit a bug report if you see this message.
    {% endif %}
  </p>
  <h5>Functionality</h5>
  <p>{{ data["tagline"] | safe }}</p>
  {% if data["description"] %}
    <h5>Details</h5>
    <p>{{ data["description"] | safe }}</p>
  {% endif %}
  {% if data["synonyms"] %}
    <h5>Synonyms</h5>
    <p>This atom should work roughly the same way as or very similarly in concept to the following code snippets (some edge case exceptions may exist):</p>
    <ul>
      {% for synonym in data["synonyms"] %}
        <li><code>{{ synonym }}</code></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
