{% extends "layout.html" %}

{% block content %}
  <h3>Welcome to the Jelly Tutorial!</h3>
  <p><a href="https://github.com/DennisMitchell/jellylanguage/">Jelly</a> is a recreational programming language created by <a href="https://codegolf.stackexchange.com/users/12012/dennis">Dennis Mitchell</a> for code golf, a competition to write the shortest code to complete a certain task. It is a <a href="https://en.wikipedia.org/wiki/Tacit_programming">tacit</a> programming language and is inspired by <a href="https://www.jsoftware.com/#/">J</a>, a practical tacit language.</p>
  <p>Jelly uses a custom <a href="https://en.wikipedia.org/wiki/SBCS">Single Byte Character Set (SBCS)</a>, so each of its characters take one byte (this is important as code golf is usually scored in bytes, and not characters). Installation instructions are available on its <a href="https://github.com/DennisMitchell/jellylanguage/">GitHub repository</a>:</p>
  <p><pre><code>git clone -q https://github.com/DennisMitchell/jellylanguage.git
cd jellylanguage
pip3 install --upgrade --user .
jelly eun '“3ḅaė;œ»'</code></pre></p>
  <p>This should output <code>Hello, World!</code> to the console.</p>
  <p>Alternatively, you can run Jelly on Dennis's own <a href="https://tio.run/#jelly">Try It Online!</a>, or the interface on this site <a href="/tio">here</a>, which uses TIO's API.</p>
  <hr />
  <h5>How to get started</h5>
  <p>Jelly can be quite intimidating to get into, as its structure is not always intuitive to a beginner and tacit programming requires a significant learning curve if you're new to it. If you are completely new to tacit programming and Jelly, a good place to start is the <a href="/beginners">beginners' page</a> under the resources tab. There are other resources available for documentation and lessons ranging from introductory to more advanced. Finally, you can find help in the <a href="https://chat.stackexchange.com/transcript/57815/jelly-hypertraining">Jelly Hypertraining</a> chat room on Stack Exchange; however, you will need a Stack Exchange account and request access to send messages in that room.</p>
  <br /><br />
{% endblock %}
