<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jelly resources, tutorials, and utilities." />
    <meta name="keywords" content="jelly, tutorial" />
    <meta name="author" content="hyper-neutrino" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />

    {% block head %} {% endblock %}

    <title>Jelly Resources</title>
  </head>

  <body>
    <header>
      {% block header %}
        {% include "navbar.html" %}
      {% endblock %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
      <br /><br />
    </main>
    <footer class="light-blue lighten-2">
      {% block footer %}
        &copy; 2021 hyper-neutrino - <a href="https://github.com/hyper-neutrino/jelly-tutorial">GitHub repository</a> - <a href="https://github.com/hyper-neutrino/jelly-tutorial/issues/new">Report a Bug</a>
      {% endblock %}
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q==" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>

    {% block tail %} {% endblock %}
  </body>
</html>
