<div class="navbar-fixed">
  <nav class="light-blue darken-1">
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="/"><b>home</b></a></li>
        <li><a href="/codepage">code page</a></li>
        <li><a href="/resources">resources</a></li>
        <li><a href="/tio">try it online</a></li>
        <li><a href="/search"><i class="material-icons">search</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-navbar">
  <li><a href="/"><b>home</b></a></li>
  <li><a href="/codepage">code page</a></li>
  <li><a href="/resources">resources</a></li>
  <li><a href="/tio">try it online</a></li>
  <li><a href="/search"><i class="material-icons">search</i></a></li>
</ul>
