{% extends "layout.html" %}

{% block content %}
  <h3>Quick - <code>{{ data["symbol"] }}</code> - {{ data["name"] | safe }}</h3>
  <p>Characters: {% for char in data["symbol"] %} {% if loop.index != 1 %}, {% endif %} {{ char | charlink }} {% endfor %}</p>
  <p>Tags: {% for tag in data["tags"] %} {% if loop.index != 1 %}, {% endif %} {{ tag | taglink }} {% endfor %} {% if data["tags"] == [] %} (none) {% endif %}</p>
  <h5>Arity: {{ ["niladic", "monadic", "dyadic", "variadic", "depends", "same"][data["arity"]] }}</h5>
  {% if data["arity"] == 0 %}
    <p>The resulting link is niladic, meaning it takes zero arguments. Note that the arity refers to that of the resulting link, not the number of links this quick consumes.</p>
  {% elif data["arity"] == 1 %}
    <p>The resulting link is monadic, meaning it takes one argument. Note that the arity refers to that of the resulting link, not the number of links this quick consumes.</p>
  {% elif data["arity"] == 2 %}
    <p>The resulting link is dyadic, meaning it takes two arguments. Note that the arity refers to that of the resulting link, not the number of links this quick consumes.</p>
  {% elif data["arity"] == -1 %}
    <p>The resulting link's arity is the same as the consumed link's arity. Note that the arity refers to that of the resulting link, not the number of links this quick consumes.</p>
  {% elif data["arity"] == -2 %}
    <p>The resulting link's arity depends on the consumed links, but will be of fixed arity when returned. This is different from variadic links, whose arity can change or be coerced by context or other quicks. Note that the arity refers to that of the resulting link, not the number of links this quick consumes.</p>
  {% else %}
    <p>The resulting link is variadic, meaning that it may change based on context or other quicks applied to it. Note that the arity refers to that of the resulting link, not the number of links this quick consumes.</p>
  {% endif %}
  <h5>Functionality</h5>
  <p>{{ data["tagline"] | safe }}</p>
  {% if data["description"] %}
    <h5>Details</h5>
    <p>{{ data["description"] | safe }}</p>
  {% endif %}
  <h5>Syntax</h5>
  <ul class="larger-text">
    {% for key, val in data["syntax"] %}
      <li><code>{{ key }}</code> - {{ val | safe }}</li>
    {% endfor %}
  </ul>
{% endblock %}
