{% extends "layout.html" %}

{% block content %}
  <h3>Resource List</h3>
  <ul class="larger-text">
    <li><a href="/beginners">Beginners' Page</a></li>
    <li><a href="/misc/chaining">Chaining Rules</a></li>
    <li><a href="https://chat.stackexchange.com/transcript/57815/jelly-hypertraining">Jelly Hypertraining</a> (Stack Exchange chat room)</li>
    <li><a href="/misc/string-compressor">String Compression Tool</a></li>
    <li><a href="/misc/integer-compressor">Integer Compression Tool</a></li>
    <li><a href="https://tio.run#jelly">Dennis's Try it Online!</a></li>
    <li><a href="/tio">Try Jelly online here</a></li>
  </ul>
{% endblock %}
