{% extends "layout.html" %}

{% block content %}
  <h3>Search</h3>
  <p>Searching is implemented using a keyword searching system, so looking for keywords rather than trying to type sentences will give better results. This resource is most helpful if you already know what you are looking for and just want the characters to copy-paste. If you are having trouble finding a built-in, consider asking in <a href="https://chat.stackexchange.com/transcript/57815/jelly-hypertraining">Jelly Hypertraining</a>. If something does not appear under a certain keyword and you believe it should, consider opening an issue or pull request to the <a href="https://github.com/hyper-neutrino/jelly-tutorial">GitHub repository</a>. If you want to search by a specific character sequence in the description that isn't a keyword, consider using Ctrl-F on this page.</p>
  <p><b>Note:</b> the arity of a quick in this table is the arity of the resulting link, <em>not</em> the number of links it consumes. "Variadic" means the resulting link's arity is internally <code>-1</code> and thus gets coerced depending on context, whereas "depends" means the resulting link has fixed arity but depends on the consumed links.</p>

  <ul class="collapsible">
    {% set ctypes = request.args.get("i", "").split() %}
    {% set ctags = request.args.get("tags", "").split() %}
    <li class="active">
      <div class="collapsible-header"><i class="material-icons">filter_list</i>Filters</div>
      <div class="collapsible-body">
        <table class="search-option-table">
          <tr>
            <td>
              Filter by type
              <br />
              <br />
              <table class="search-option-table">
                <tr>
                  <td><label><input class="include" id="include-atoms" type="checkbox" data-category="atoms" {% if "atoms" in ctypes %} checked {% endif %} /><span><b>Atoms</b></span></label></td>
                  <td><label><input class="include" id="include-nilads" type="checkbox" data-category="nilads" {% if "nilads" in ctypes %} checked {% endif %} /><span>Nilads</span></label></td>
                  <td><label><input class="include" id="include-monads" type="checkbox" data-category="monads" {% if "monads" in ctypes %} checked {% endif %} /><span>Monads</span></label></td>
                  <td><label><input class="include" id="include-dyads" type="checkbox" data-category="dyads" {% if "dyads" in ctypes %} checked {% endif %} /><span>Dyads </span></label></td>
                </tr>
                <tr>
                  <td><label><input class="include" id="include-quicks" type="checkbox" data-category="quicks" {% if "quicks" in ctypes %} checked {% endif %} /><span><b>Quicks</b></span></label></td>
                </tr>
                <tr>
                  <td><label><input class="include" id="include-syntax" type="checkbox" data-category="syntax" {% if "syntax" in ctypes %} checked {% endif %} /><span><b>Syntax</b></span></label></td>
                </tr>
              </table>
              <br />
              Filter by tag
              <br />
              <br />
              <div class="switch">
                <label style="padding-right: 2.5em">
                  <span class="larger-text">union</span>
                  <input id="switch" type="checkbox" {% if request.args["all"] == "1" %} checked {% endif %} />
                  <span class="lever"></span>
                  <span class="larger-text">intersection</span>
                </label>
                <button class="waves-effect red btn" onclick="clear_tags()">CLEAR</button>
              </div>
              <br />
              <table class="search-option-table">
                {% for row in range(0, tags | length, 5) %}
                  <tr>
                    {% for tag in tags[row:row + 5] %}
                      <td><label class="tagbox" data-name="{{ tag }}" data-info="{{ taginfo[tag] }}"><input class="tag" id="tag-{{ tag }}" type="checkbox" {% if tag in ctags %} checked {% endif %}/><span>{{ tag }}</span></label></td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </table>
            </td>
            <td style="vertical-align: top">
              <h6 id="tag-info-header">Tag Data</h6>
              <p id="tag-info">Hover over a tag to see more information about it.</p>
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>

  <br /><br />

  <center>
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <input id="search-box" type="text" value="{{ request.args.get('q', '') }}" />
        <label for="search-box">Search by keywords</label>
      </div>
    </div>

    <table id="search-results">
      <tr>
        <th>Symbol</th>
        <th>Name</th>
        <th>Type</th>
        <th style="width:10%">Arity</th>
        <th>Description (For monads, <code>z</code> is the argument; for dyads, <code>x</code> and <code>y</code> are the left and right arguments).</th>
      </tr>
      {% for item in data %}
        <tr class="type-{{ item['type'] }}
          {% if item['type'] == 'atoms' %}
            type-{{ ['nilads', 'monads', 'dyads'][item['arity']] }}
          {% endif %}
          {% for tag in item['tags'] %}
            tagged-{{ tag }}
          {% endfor %}
          {% for keyword in item['keywords'] %}
            keyword-{{ keyword }}
          {% endfor %}
          {% for antiword in item['antiwords'] %}
            antiword-{{ antiword }}
          {% endfor %}
        ">
          <td><a href="/{{ item['type'] }}/{{ item['id'] }}" target="_blank"><code>{{ item["symbol"] }}</code></a></td>
          <td><a href="/{{ item['type'] }}/{{ item['id'] }}" target="_blank">{{ item["name"] | safe }}</a></td>
          {% if item["type"] == "atoms" %}
            <td><a href="/beginners#terminology" target="_blank">Atom</a></td>
            <td>{{ ["niladic", "monadic", "dyadic"][item["arity"]] }} ({{ item["arity"] }})</td>
          {% elif item["type"] == "quicks" %}
            <td><a href="/beginners#terminology" target="_blank">Quick</a></td>
            <td>{{ ["niladic", "monadic", "dyadic", "variadic", "depends", "same"][item["arity"]] }}{% if item["arity"] >= 0 %} ({{ item["arity"] }}){% endif %}</td>
          {% elif item["type"] == "syntax" %}
            <td><a href="/beginners#jelly-syntax" target="_blank">Syntax</a></td>
            <td></td>
          {% endif %}
          <td>{{ item["tagline"] | safe }}</td>
        </tr>
      {% endfor %}
    </table>
  </center>
  <br /><br />
{% endblock %}

{% block tail %}
  <script src="/static/search.js"></script>
{% endblock %}
