{%- extends "layout.html" -%}

{%- block content -%}
  <h3>Syntax - <code>{{ data["symbol"] }}</code> - {{ data["name"] }}</h3>
  <p>Characters:&nbsp;{%- for char in data["symbol"] -%} {%- if loop.index != 1 -%},&nbsp;{%- endif -%} {{ char | charlink }} {%- endfor -%}</p>
  <p>Tags:&nbsp;{%- for tag in data["tags"] -%} {%- if loop.index != 1 -%},&nbsp;{%- endif -%} {{ tag | taglink }} {%- endfor -%} {%- if data["tags"] == [] -%} (none) {%- endif -%}</p>
  <h5>Functionality</h5>
  <p>{{ data["tagline"] | safe }}</p>
  {%- if data["description"] -%}
    <h5>Detailed Description</h5>
    <p>{{ data["description"] | safe }}</p>
  {%- endif -%}
{%- endblock -%}
