{% extends "layout.html" %}

{% block content %}
  <h3>Syntax - <code>{{ data["symbol"] }}</code> - {{ data["name"] | safe }}</h3>
  <p>Characters:{% for char in data["symbol"] %} {% if loop.index != 1 %}, {% endif %} {{ char | charlink }} {% endfor %}</p>
  <p>Tags: {% for tag in data["tags"] %} {% if loop.index != 1 %}, {% endif %} {{ tag | taglink }} {% endfor %} {% if data["tags"] == [] %} (none) {% endif %}</p>
  <p>The <a href="/beginners#jelly-syntax">beginners' page</a> has a more thorough explanation of Jelly syntax and tokenization.</p>
  <h5>Functionality</h5>
  <p>{{ data["tagline"] | safe }}</p>
  {% if data["description"] %}
    <h5>Details</h5>
    <p>{{ data["description"] | safe }}</p>
  {% endif %}
{% endblock %}
