{% extends "layout.html" %}

{% block content %}
  <h3>Chaining Rules Cheat-Sheet</h3>
  <p>If you don't know what chaining rules are, it may help to revisit the <a href="/beginners">beginners' page</a>. Essentially, if multiple chains are written sequentially (whether they be outer chains within a link or inner chains within outer chains), Jelly matches specific patterns based on their arities and walks down the chain, evaluating based on the pattern. You can think of it as there being an accumulating value that changes as the interpreter processes the chain.</p>
  <p>If a nilad appears without being part of a valid pattern, it will output the current value to STDOUT (without a trailing newline) and set the current value to the nilad's result (this is known as "smash-printing" because multiple nilads placed together will smash their values to STDOUT with no separator).</p>
  <p>The left argument will be <code>α</code> and the right argument will be <code>ω</code>. The current value will be <code>λ</code>. Nilads will be represented by digits, monads by capital letters, and dyads by mathematical operations like <code>+ × ÷</code>.</p>

  <h5>Leading Constant Chains</h5>
  <p>A leading constant chain (LCC) is a special type of chain that starts with a nilad and is followed by monads, dyad-nilad pairs, and nilad-dyad pairs. Essentially, the nilad must not be paired with a dyad immediately after it. You can think of it as a chain that takes no arguments (i.e. is niladic) because it begins with a nilad itself and then follows it with a chain of monadic-like operations. Certain chaining rules depend on this.</p>

  <h5>Niladic Chains</h5>
  <ul class="larger-text">
    <li>If the chain starts with a nilad <code>κ</code>, then <code>α = κ</code> and the rest of the chain is evaluated monadically.</li>
    <li>Otherwise, <code>α = 0</code> and the entire chain is evaluated monadically.</li>
  </ul>
  <p>Note that this means an empty chain will just evaluate to <code>0</code>.</p>

  <h5>Monadic Chains</h5>
  <ul class="larger-text">
    <li>If the chain starts with an LCC <code>κ ...</code>, then <code>λ = κ</code> to start and the rest of the chain is considered.</li>
    <li>Otherwise, <code>λ = α</code> and the entire chain is considered.</li>
  </ul>

  <center>
    <table class="halfwidth">
      <tr>
        <th>Pattern</th>
        <th>New <code>λ</code> value</th>
        <th>Arities / Name</th>
      </tr>
      <tr>
        <td><code>+ F ...</code></td>
        <td><code>λ + F(α)</code></td>
        <td>2,1-chain</td>
      </tr>
      <tr>
        <td><code>+ 1 ...</code></td>
        <td><code>λ + 1</code></td>
        <td>2,0-chain / dyad-nilad pair</td>
      </tr>
      <tr>
        <td><code>1 + ...</code></td>
        <td><code>1 + λ</code></td>
        <td>0,2-chain / nilad-dyad pair</td>
      </tr>
      <tr>
        <td><code>+</code></td>
        <td><code>λ + α</code></td>
        <td>Lone Dyad</td>
      </tr>
      <tr>
        <td><code>F</code></td>
        <td><code>F(λ)</code></td>
        <td>Lone Monad</td>
      </tr>
    </table>
  </center>

  <h5>Dyadic Chains</h5>
  <ul class="larger-text">
    <li>If the chain starts with an LCC <code>κ ...</code>, then <code>λ = κ</code> to start and the rest of the chain is considered.</li>
    <li>If the chain starts with three dyads <code>+ × ÷ ...</code>, then <code>λ = α + ω</code> to start and the rest of the chain is considered.</li>
    <li>Otherwise, <code>λ = α</code> and the entire chain is considered.</li>
  </ul>

  <center>
    <table class="halfwidth">
      <tr>
        <th>Pattern</th>
        <th>New <code>λ</code> value</th>
        <th>Arities / Name</th>
      </tr>
      <tr>
        <td><code>+ × 1 ...</code></td>
        <td><code>(λ + ω) × 1</code>*</td>
        <td>2,2,0-chain</td>
      </tr>
      <tr>
        <td><code>+ ×</code></td>
        <td><code>λ + (α × ω)</code></td>
        <td>2,2-chain</td>
      </tr>
      <tr>
        <td><code>+ 1 ...</code></td>
        <td><code>λ + 1</code></td>
        <td>2,0-chain / dyad-nilad pair</td>
      </tr>
      <tr>
        <td><code>1 + ...</code></td>
        <td><code>1 + λ</code></td>
        <td>0,2-chain / nilad-dyad pair</td>
      </tr>
      <tr>
        <td><code>+</code></td>
        <td><code>λ + ω</code></td>
        <td>Lone Dyad</td>
      </tr>
      <tr>
        <td><code>F</code></td>
        <td><code>F(λ)</code></td>
        <td>Lone Monad</td>
      </tr>
    </table>
  </center>
  <p>* The 2,2,0-chain rule only applies if the nilad is part of an LCC; that is, the nilad is not followed by a dyad.</p>
  <br /><br />
{% endblock %}
