{% extends "layout.html" %}

{% block content %}
  <h3>Integer Compression Tool</h3>
  <ul class="collapsible">
    <li {% if request.args["open"] == "1" %} class="active" {% endif %}>
      <div class="collapsible-header"><i class="material-icons">info</i>Information</div>
      <div class="collapsible-body">
        <p>Jelly has four literal types that can represent integers or integer lists shorter than the trivial representation.</p>
        <p><code>ȷ</code> allows multiples of powers of ten to be represented in fewer bytes: <code>xȷy</code> translates to <code>x &times; 10 ^ y</code>. For example, <code>2ȷ6 == 2e6 == 2000000</code>. <code>ȷy == 1ey</code> and <code>xȷ == xe3</code> (so <code>ȷ</code> is a short way of representing <code>1000</code>).</p>
        <p><code>⁽</code> starts a two-digit base-250 number literal, where <code>¡</code> represents <code>1</code> and <code>ż</code> represents <code>250</code>. If the number is greater than <code>31500</code>, <code>62850</code> is subtracted (to allow negative integers to be compressed this way too), and otherwise, <code>750</code> is added. This can represent positive numbers between <code>1001</code> and <code>32250</code>, and negative numbers from <code>-31349</code> to <code>-100</code> (this is because compressing three-digit numbers wouldn't be helpful, and <code>1000</code> can be represented via <code>ȷ</code>). For example, <code>⁽½¥</code> evaluates to <code>3505</code>: <a href="/tio#WyIiLCLigb3CvcKlIiwiIiwiIixbXV0=">Try It Online!</a></p>
        <p><code>“...’</code> denotes a longer base-250 number where <code>¡</code> represents <code>1</code> and <code>ż</code> represents <code>250</code> (just like with <code>⁽</code>). For example, <code>“ṄBṭ/Ḷ£Þ⁻’</code> evaluates to <code>12345678901234567890</code>: <a href="/tio#WyIiLCLigJzhuYRC4bmtL+G4tsKjw57igbvigJkiLCIiLCIiLFtdXQ==">Try It Online!</a></p>
        <p><code>“...‘</code> denotes a code page index list. Here, <code>¡</code> represents <code>0</code> and <code>ż</code> represents <code>249</code>, and instead of forming a base-250 number, each character translates to one number, and a list of numbers is returned. For example, <code>“Æ⁺©¬‘</code> evaluates to <code>[13, 138, 6, 7]</code>: <a href="/tio#WyIiLCLigJzDhuKBusKpwqzigJgiLCIiLCIiLFtdXQ==">Try It Online!</a></p>
        <p>This utility attempts to compress an integer or list of integers into a literal. Note that often, you can find a shorter way (e.g. <code>[0, 1]</code> is a digraph nilad, <code>Ø.</code>, which cannot be used in a literal, but can represent that pair itself shorter than any literal could), but this tool is intended for compressing larger values that don't have intelligent algorithmic representations. For example, you can compress a long list of small integers using base conversion - <code>b</code> converts its left argument into digits with base based on its right argument, and <code>ḅ</code> does the inverse.</p>
        <p>For example, <code>[1, 3, 2, 6, 5, 3, 7, 4, 6, 3, 4, 2, 5, 3]</code> can be represented using a codepage index list as <code>“¢¤£©¦¤¬¥©¤¥£¦¤‘</code>, but in base 8, it can be <code>780273924267b8¤</code> (which is one byte shorter even with the <code>¤</code> to make it a single niladic link): <a href="/tio#WyIiLCLigJzCosKkwqPCqcKmwqTCrMKlwqnCpMKlwqPCpsKk4oCYXG43ODAyNzM5MjQyNjdiOMKkIiwiIiwiIixbXV0=">Try It Online!</a> (Also, you can compress the number itself to get <code>“İṾ³ĠÑ’b8¤</code>.)</p>
      </div>
    </li>
  </ul>
  (Warning: the query gets <code>eval</code>'d by JavaScript in your browser, so don't input anything that might brick your browser. If you just enter normal integers and integer lists, nothing will go wrong. If the input contains anything other than square brackets, commas, digits, minus signs, or whitespace, evaluation will stop.)
  <br /><br />
  <div class="input-field">
    <textarea id="value" class="materialize-textarea monospace"></textarea>
    <label for="value">Value to compress</label>
  </div>
  <br /><br />
  <div class="input-field">
    <textarea id="output" class="materialize-textarea monospace" readonly placeholder="Optimal representation will appear here."></textarea>
  </div>
{% endblock %}

{% block tail %}
  <script src="/static/integer-compression.js"></script>
{% endblock %}
