{% extends "layout.html" %}

{% block content %}
  {% for src, dest in shortcuts.items() %}
    <span class="shortcut-data" data-src="{{ src }}" data-dest="{{ dest }}"></span>
  {% endfor %}
  <h3>String Compression Tool</h3>
  <ul class="collapsible">
    <li {% if request.args["open"] == "1" %} class="active" {% endif %}>
      <div class="collapsible-header"><i class="material-icons">info</i>Information</div>
      <div class="collapsible-body">
        <p>Jelly's strings aren't Python's <code>str</code> type; rather, it is a list of characters. Each character is a one-character Python <code>str</code> object. By using operations like <a href="/atoms/addition"><code>+</code> (Addition)</a> or <a href="/atoms/multiplication"><code>×</code> (Multiplication)</a>, you can get multi-character <code>str</code> objects; however, Jelly will treat them as characters, so list operations may not work the way you want (for example, their length is considered <code>1</code>), and some operations may fail (such as <a href="/atoms/ord"><code>O</code> (Ord)</a>). If you want to represent a single character, you can use <a href="/syntax/character-literal"><code>”</code> (Character Literal)</a>. This compression tool will ignore this and instead use strings for everything. Note that a one-character string is different from a character in Jelly (unlike in many languages, e.g. Python); the former is a singleton list of the latter.</p>
        <p>Jelly has three ways of representing a string. The first is the trivial representation, <code>“string goes here”</code>. You can create a list of strings using multiple <code>“</code>s, so <code>“hello“world”</code> returns <code>["hello", "world"]</code> (technically <code>[["h", "e", "l", "l", "o"], ["w", "o", "r", "l", "d"]]</code>). If this string is at the end of the program, you can omit the terminator <code>”</code>, but note that strings can span multiple lines (it is recommended to use <a href="/codepage/127"><code>¶</code> (Pilcrow)</a> for this purpose), so it has to be the end of the program, not just the end of a link.</p>
        <p>The second is for two-character string literals: <code>⁾ab</code> returns <code>"ab"</code> (<code>["a", "b"]</code>). This is very straightforward.</p>
        <p>The final representation is dictionary compressed strings. These are optimal for English-like strings that contain a lot of words and not that much punctuation or other characters. Note that you cannot compress a string if it contains characters that are not newlines or printable ASCII. To decompress a string, it is first converted into a base-250 number where <code>¡</code> represents <code>1</code> and <code>ż</code> represents <code>250</code> (this is the same way that the <a href="/syntax/end-base-250-number">Base 250 Number Terminator (<code>’</code>)</a> works). Then, this integer is fed through the <a href="https://github.com/DennisMitchell/jellylanguage/blob/master/jelly/interpreter.py#L1055"><code>sss</code></a> function to convert it to a string. Decompression of the integer begins with the empty string and repeats the following steps until the integer is exhaused (becomes <code>0</code>):</p>
        <ul class="larger-text">
          <li>Divide the integer by <code>3</code>, and vary the mode based on the remainder.
            <ul>
              <li>If the mode is <code>0</code>, divide the integer by <code>96</code>, add 32 to the remainder, and add the character at that codepoint to the string (this is printable ASCII range, except for <code>127</code>, which is the newline in Jelly's codepage).</li>
              <li>
                Otherwise, insert a dictionary-compressed word. Two flags are set: <em>swap-case</em> is initially false, and <em>prepend-space</em> is true if and only if the string so far isn't empty.<br />
                <ul>
                  <li>If the mode is <code>2</code>, divide the integer by <code>3</code> again. If the remainder is <code>0</code> or <code>2</code>, set the <em>swap-case</em> flag to true. If the remainder is <code>1</code> or <code>2</code>, swap the <em>prepend-space</em> flag (insert leading space at the start of the string, or don't insert space between words).</li>
                </ul>
                Dviide the integer by <code>2</code>. If the integer was even, use the long dictionary (227845 words). If it was odd, use the short dictionary (20453 words). The dictionaries are available <a href="https://github.com/DennisMitchell/jellylanguage/blob/master/jelly/dictionary.py">here</a> (the file is very long, but you can view the raw file on GitHub). Finally, divide the integer by the length of the dictionary and index the remainder into the dictionary. If the <em>swap-case</em> flag is set, flip the case of the first letter. If the <em>prepend-space</em> flag is set, prepend a space to the word. Then, append the result to the string.
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  If the script detects that the input looks like a string / list of strings in valid JS code (no extra symbols outside of string literals), it will attempt to <code>eval</code> it (to allow you to compress multiple strings). As long as you don't intentionally enter code that looks like a normal literal that will brick your browser, nothing abnormal should happen. If the string you want to use has Jelly string terminators or opening quotation marks, you will need to use <a href="/syntax/character-literal"><code>”</code> (Character Literal)</a>, as there is no way to insert them into a string literal. This compressor will output a valid literal but it will probably be shorter to concatenate the necessary characters together in a non-literal chain. There are often ways to shorten a string using built-in string constants but this compressor guarantees finding the shortest literal to represent your input.
  <br /><br />
  <div class="input-field">
    <textarea id="value" class="materialize-textarea monospace shortcut-field"></textarea>
    <label for="value">Value to compress</label>
  </div>
  <br /><br />
  <div class="input-field">
    <textarea id="output" class="materialize-textarea monospace" readonly placeholder="Optimal representation will appear here."></textarea>
  </div>
{% endblock %}

{% block tail %}
  <script src="/static/shortcut.js"></script>
  <script src="/static/dictionary.js"></script>
  <script src="/static/string-compression.js"></script>
{% endblock %}
