@font-face {
  font-family: "Exo 2";
  src: url(/static/fonts/static/Exo2-Light.ttf);
}

@font-face {
  font-family: "Exo 2";
  font-weight: bold;
  src: url(/static/fonts/static/Exo2-SemiBold.ttf);
}

@font-face {
  font-family: "DejaVu Sans Mono";
  src: url(/static/fonts/DejaVuSansMono.ttf);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Exo 2", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

code {
  font-family: "DejaVu Sans Mono", monospace;
  background-color: #eee;
  font-size: 85%;
}

.monospace {
  font-family: "DejaVu Sans Mono", monospace;
}

pre code {
  border-radius: 5px;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
}

.block {
  display: block;
}

p {
  font-size: 110%;
}

button {

}

main {
  flex: 1 0 auto;
  padding: 0 10vw;
}

footer {
  padding: 2em 10vw;
}

hr {
  border: 1px #ddf solid;
  width: 60vw;
  margin-top: 2em;
  margin-bottom: 2em;
}

table.codepage-table {
  font-family: "DejaVu Sans Mono", monospace;
  table-layout: fixed;
  display: table-cell;
  padding: 0;
}

table.codepage-table tr {
  height: 3em;
  padding: 0;
}

table.codepage-table td {
  border: 1px solid #bbd;
  border-collapse: collapse;
  width: 3em;
  padding: 0;
}

td.codepage-td a {
  background-color: #eee;
  color: black;
  padding: 5px;
  border-radius: 5px;
}

table.search-option-table {
  table-layout: fixed;
  display: table-cell;
}

table.search-option-table tr {
  padding: 0;
  border: none;
}

table.search-option-table td {
  border: none;
  padding: 0.1em 1em;
}

main ul:not(.browser-default):not(.collapsible) li {
  list-style-type: disc;
  margin-left: 1em;
  padding-left: 0.5em;
}

.larger-text {
  font-size: 110%;
}

kbd {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 85%;
  color: #333;
  border: 1px solid #eef;
  border-radius: 2px;
  background-color: #cde;
  padding: 2px 5px;
}

footer a {
  color: #33c;
}

label {
  color: #446;
}

table#search-results {
  width: 90%;
}

div.short {
  padding-top: 0;
  padding-bottom: 0;
}

div.argument-inline {
  padding: 0;
  margin: 0;
}

.center-contents {
  text-align: center;
}

textarea.tio-field {
  line-height: 1.25em;
}

.crosshair {
  cursor: crosshair;
}

span.key {
  margin: -10px;
  padding: 10px;
}

.halfwidth {
  width: 50%;
}

.quarterwidth {
  width: 25%;
}

.pad {
  padding-right: 5em;
}
